#ansible_managed        | {{ ansible_managed }}
#
#  /usr/lib/systemd/system/glances.service
#
[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=/usr/bin/glances -s
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target