# {{ ansible_managed }}
#
[Unit]
Description=Glances
After=syslog.target network.target auditd.service

[Service]
ExecStart=glances -w
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target