+-----------------------------+-------------------------------+
         _            _     __    __              __          
        (_)___  _____(_)___/ /___/ /_  __        / /___ _____ 
       / / __ \/ ___/ / __  / __  / / / /       / / __ `/ __ \
      / / /_/ / /  / / /_/ / /_/ / /_/ /  _    / / /_/ / / / /
  __ / / .___/_/  /_/\__,_/\__,_/\__, /  (_)  /_/\__,_/_/ /_/ 
 /___/_/                       /____/                        
 
       OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
       IP address  : {{ ansible_default_ipv4.address }}
       System type : {{ ansible_system }}
       Virt type   : {{ ansible_virtualization_type }} {{ansible_virtualization_role}}
       Last updated: {{ ansible_managed }}
 +-----------------------------+-------------------------------+

 