  
------------------------------------------------
        _          _    __   __       __        
       (_)__  ____(_)__/ /__/ /_ __  / /__ ____ 
      / / _ \/ __/ / _  / _  / // / / / _ `/ _ \
   __/ / .__/_/ /_/\_,_/\_,_/\_, (_)_/\_,_/_//_/
  |___/_/                   /___/               

       OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
       IP address  : {{ ansible_eth0.ipv4.address }}
       System type : {{ ansible_system }}
       Virt type   : {{ ansible_virtualization_type }} 
 ------------------------------------------------
