#ansible_managed        | {{ ansible_managed }}
#
# /etc/sssd/conf.d/sssd-session-recording.conf
#
[session_recording]
scope=all
exclude_users=
exclude_groups=
include_groups=wheel
include_users=root
